*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
    height: %;
    width: 100%;
   background: linear-gradient(45deg,#e7031e,#5240d5,#ed891f);
    background-size: 300% 300%;
   animation:color 12s ease-in-out infinite;
}
@keyframes color{
   0%{
       background-position: 0 50%;
   }
   50%{
       background-position: 100% 50%;
   }
   100%{
       background-position: 0 50%;
   }
}
  nav{
    position: relative;
   width: 100%;
   height: 100px;
   background: rgba(255,255, 255, .1);
   box-shadow: 0 25px 45px rgba(0,0, 0, .2);
   backdrop-filter: blur(10px);
   border-radius: 20px;
  
  }
  .navbar a{
    position: relative;
    color: rgb(233, 237, 242);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    
}
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
   margin-top: 40px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
 
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(245, 234, 234);
    
  }
  /**/
 
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(220, 207, 207, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  
  .contact{ 
    position: absolute;
    background: rgba(255,255, 255, .1);
    box-shadow: 0 25px 45px rgba(0,0, 0, .2);
   
    height: 170px;
    width: 50px;
    top: 200px;
    border-radius: 10px;
}
.tw{
  height: 20px;
  width: 20px;
}
.social{
  position: relative;
  top: 15px;
  left: 15px; 
  box-sizing: inherit; 
}
.Header{
  margin-top: 100px;
  text-align: center;
}
.ptag {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  line-height: 1.6;
  margin: auto; 
}

@media only screen and (min-width: 600px) {
  .h1{
  font-weight: 800;
  font-size: 80px;
}
.ptag {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}
.Header{
  margin-top: 200px;
 position: relative;
 text-align: center;
}
.contact{ 
  position: absolute;
  background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
 
  height: 206px;
  width: 60px;
  top: 400px;
  border-radius: 10px;
}
.tw{
height: 30px;
width: 30px;
}
.social{
position: relative;
top: 15px;
left: 15px; 
box-sizing: inherit; 
}
.button{
   
  display: flex;
  color: black;
  height: 80px;
  width: 100px;
 align-items: center;
 background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
 justify-content: center;   
  margin: auto;
  margin-top:55px;
  font-size: 25px;
  border-radius: 10px;
  
}

} /* this the end of */
span{
    color: aliceblue;
}
.button{
   
       display: flex;
       color: black;
       height: 80px;
       width: 130px;
      align-items: center;
      background: rgba(255,255, 255, .1);
      box-shadow: 0 25px 45px rgba(0,0, 0, .2);
      justify-content: center;   
       margin: auto;
       margin-top:55px;
       font-size: 25px;
       border-radius: 10px;
}
.aboutme{
    display: flex;
       color: black;
       height: 60px;
       width: 100px;
      align-items: center;
      justify-content: center;   
       margin: auto;
       margin-top:130px;
       font-size:19px;
       
}
.do{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.left, .right {
  height: 100vh;
  padding: 20px;
}

.left {

    margin-top: 50;
    display: flex;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-left: 10;
  text-align: center;
  overflow: hidden;
}

.right {
  display: inline;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 30px;
}

.contentskills {
  padding: 20px;
}

.MySkills {
  margin-top: 0;
}

.Skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill {
  padding: 10px;
  background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
  height: 40px;
 width: fit-content;
 border-radius: 10px;
 margin-bottom: 20px;
}
.ms{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.heading{
    margin-bottom: 50px;
}

.pro{
  display: flex;
  justify-content: center;
 margin-bottom: 30px;
}

/**/
.total{
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #151414;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}
#next{
    left: unset;
    right: 400px;
}
.btnfor{
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    font-size: 20px;
    background-color: #EC4899;
     margin-top: 20px;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
   
}

.get{
  margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    display: ;
}

form {
    display: grid;
    grid-gap: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ebe2e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


@media only screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}



/**/


footer {
 
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(255,255, 255, .1);
  box-shadow: 0 25px 45px rgba(0,0, 0, .2);
}
footer ul {
  list-style: none;
}
footer p {
  color: #fff;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}
.media-icons li,
.services-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
 margin-right: 15px;
}

.services-icons a {
  font-size: 1.6em;
}
.services-icons a:hover {
  color: #94fbab;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(138, 208, 153, 0.36);
  padding: 2em;
}
.footer .menu {
  margin-bottom: em;
}
.footer .menu li {
  display: inline-block;
  margin: 0 0.7em 0.7em 0;
  text-align: center;
}
.footer .menu a {
  transition: 0.3s;
  font-weight: 600;
}
.footer .menu a:hover {
  color: #94fbab;
}

/* == responsive == */
@media screen and (max-width: 900px) {
  .footer .container {
    flex-direction: column;
  }
}

.gitpng{
  height: 50px;
  width: 50px;
}
